<a  style="cursor: pointer"
   class="list-group-item clearfix"
    [routerLink]="[index-1]" routerLinkActive="active">
  <div class="pull-left">
    <h4 class="list group item heading">{{Server.name}}</h4>
    <p class="list-group-item-text">{{Server.description}}</p>
  </div>
<!--  <div class="pull-right">-->
<!--    <img  alt="{{Server.name}}" [src]="Server.imagePath"  style="max-height: 50px;">-->
<!--  </div>-->
</a>


<!--  *ngIf="(Server.serverType === 'SSH' && ssh) || (Server.serverType === 'HTTP' && http) "-->
