<h2 class="example-full-width" style="text-align: center">Login</h2>


<div class="example-form" style="text-align: center">

  <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="onLogIn()">
      <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="Email" email  formControlName="email" id="email"  >
        <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
        <mat-error *ngIf="hasError('email', 'email')">Email is required</mat-error>
        <mat-error *ngIf="hasError('email', 'maxlength')">You have more than 30 characters</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
        <mat-error *ngIf="hasError('password', 'minlength')">Min 5 characters</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid" 	style="left: 99%">Login</button>
      <button type="button" mat-raised-button  color="primary" 	style="left: 100%" [routerLink]="['/register']" >Register</button>
   </form>
</div>

