<div class="all">
      <h1> CI/CD </h1>
      <h3>CI commands</h3>
      <mat-form-field class="field">
        <input #valueTodo matInput (keyup.enter)="addNewTodo(valueTodo.value); valueTodo.value = ''" (blur)="addNewTodo(valueTodo.value); valueTodo.value=''"
               placeholder="Commands to run">
      </mat-form-field>
      <button color="primary" mat-mini-fab (click)="addNewTodo(valueTodo.value)">
        <i class="material-icons">add</i>
      </button>
    <table class="todolist">
      <tr *ngFor="let todo of todolist; let i = index">
        <td style="font-size: 32px">{{i+1}})</td>
        <td style="font-size: 32px">
          {{ todo }}
        </td>
        <td>
          <i (click)="deleteToDo(i)" style="cursor: pointer" class="material-icons">cancel </i>
        </td>
      </tr>
    </table>
</div>
