
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.all{
  overflow: hidden;
  text-align:center;

}
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #49c5b6;
}
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #49c5b6;
}

.header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: rgb(63, 81, 181);
  color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.field {
  min-width: 300px;
  max-width: 320px;
  margin-top: 20px;
  line-height: 30px;
}

.todolist {
  min-width: 300px;
  max-width: 320px;
  margin: 0 auto;
}

.list {
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.footer {
  font-family: Monaco;
  font-weight: 300;
  font-style: normal;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
table td{
  /*text-align: center;*/
  /*padding-left: 30px;*/
  /*font-size: 21px;*/
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
  /*font-weight: 300;*/
  /*font-style: normal;*/
}

.condition-table p {
  margin: 0 0 0;
}

.condition-table {
  margin-top: 10px;
}

.condition-table td {
text-align: center;
padding-left: 30px;
font-size: 21px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 300;
font-style: normal;

}
.panel-default {
  margin-top: 17px;
  border-color: #ddd;
}

table th {
  text-align: center;
}
table td {
  text-align: left;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: black;
}
