<app-header></app-header>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened style="width: 25%;">
    <mat-nav-list style="  overflow: hidden;">
      <app-server-list ></app-server-list>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content style="width: 75%;">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Overview">
        <app-server-detail [id]="id"></app-server-detail>
      </mat-tab>
      <mat-tab label="Logs">
        <app-table [id]="id"></app-table>
      </mat-tab>
      <mat-tab label="CI/CD">
        <app-ci-cd></app-ci-cd>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
