
<mat-card class="example-card" style="text-align: center;">
    <mat-card-title >{{server.name}}</mat-card-title>
    <mat-card-subtitle>{{server.serverType}}</mat-card-subtitle>
  <mat-card-subtitle>
    {{server.serverCost}} $
  </mat-card-subtitle>


  <mat-card-content>
    <app-charts [server]="server"></app-charts>
  </mat-card-content>
  <mat-card-content>
    <p>
      {{server.description}}
    </p>
  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <button mat-raised-button color="warn" (click)="openDialog()">Stop Server</button>
  </mat-card-actions>
</mat-card>
