.example-card {
  width: 95%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
table{
  border: 0;
}
table td {
  padding: 50px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 15px;
  text-align: left;
  font-weight: 300;
}

table tr {
  padding-bottom: 3px;
}
